
:root {
  --header-link-color: #00CED1;
  --toronto-text-color: #008B8B;
  --chiclet-bg-color: rgba(255, 75, 133, 0.7);
  --attribution-color: rgba(255, 75, 133, 0.7);
}
body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
header h1 {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-link {
  color: var(--header-link-color);
  text-decoration: none;
}
.toronto-text {
  color: var(--toronto-text-color);
}
.bio-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.bio-text {
  font-size: 18px;
  padding-left: 10px;
}
.chiclet-container {
  position: relative;
  width: 100%;
  margin-top: 15px;
}
.chiclet-image {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.chiclet-table {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
}
.chiclet {
  background-color: var(--chiclet-bg-color);
  width: 200px;
  height: 40px;
  text-align: center;
}
.chiclet a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
.attribution {
  margin-top: 10px;
}
.attribution a {
  color: var(--attribution-color);
  background-color: black;
  padding: 1px;
  display: inline-block;
  text-decoration: none;
  font-weight:bold;
  font-size: 14px;
}