
:root {
  --header-link-color: #00b8ff;
  --toronto-text-color: #00b8ff;
  --chiclet-bg-color: rgba(255, 75, 133, 0.7);
  --attribution-color: rgba(255, 75, 133, 0.7);
}
body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
header h1 {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-link {
  color: var(--header-link-color);
  text-decoration: none;
}
.toronto-text {
  color: var(--toronto-text-color);
}
.bio-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.bio-text {
  font-size: 18px;
  padding-left: 10px;
}
.hidden-link {
  color: black; /* Matches the background color */
  text-decoration: none; /* No underline or visible indicators */
}
.chiclet-container {
  position: relative;
  width: 100%;
  margin-top: 15px;
}
.chiclet-image {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.chiclet-table {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
}
.chiclet {
  background-color: var(--chiclet-bg-color);
  width: 200px;
  height: 40px;
  text-align: center;
}
.chiclet a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
.attribution {
  margin-top: 10px;
}
.attribution a {
  color: var(--attribution-color);
  background-color: black;
  padding: 1px;
  display: inline-block;
  text-decoration: none;
  font-weight:bold;
  font-size: 14px;
}

/*All this knits stuff below is a bit of a mess and needs to be cleaned, use at your own risk.

/* Fallback color in case the image doesn't load */
.knits-container {
  background-color: #f0f0f0;
}
@media screen and (max-width: 768px) {
    .knits-overlay-buttons 
        flex-direction: column;
    }

.knits-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url('https://64.media.tumblr.com/e7cfbdf9107010cb605da2b9ff5a2a5b/d79d41863d19c505-8f/s1280x1920/52c874e9b6fa48ff50d98cb1a67e7eef77d166f4.gifv') no-repeat center center;
  background-size: cover;
}

.knits-overlay-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  -webkit-transition: transform 0.3s ease; /* Safari */
  -moz-transition: transform 0.3s ease; /* Firefox */
  -o-transition: transform 0.3s ease; /* Opera */
  transition: transform 0.3s ease;
}

.knits-button {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-transition: transform 0.3s ease; /* Safari */
  -moz-transition: transform 0.3s ease; /* Firefox */
  -o-transition: transform 0.3s ease; /* Opera */
  transition: transform 0.3s ease;

}

.knits-button:hover {
  transform: scale(1.1);
}

.knits-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  -webkit-transition: transform 0.3s ease; /* Safari */
  -moz-transition: transform 0.3s ease; /* Firefox */
  -o-transition: transform 0.3s ease; /* Opera */
  transition: transform 0.3s ease;
}

.knits-button:hover img {
  opacity: 1;
}

/* You can add specific styles for each button if needed */
.knits-button1 {
  /* Styles specific to the first knit button */
}

.knits-button2 {
  /* Styles specific to the second knit button */
}
