body {
    background-color: black;
    color: white !important;
}

table {
    color: initial; /* This ensures the table's text color remains as defined in the HTML */
    /* Ensure the table scales properly */
      width: 100%;
  max-width: 300px; /* Adjust this value as needed */
  margin: auto;
  border-collapse: collapse;
}
/* Ensure the image scales properly */
img {
  width: 100%;
  height: auto;
  max-width: 300px; /* Adjust this value as needed */
}
